select{
    padding: 14px 36px 14px 18px !important;
    border-radius: 14px !important;
    border: 1px solid #ededed !important;
    option{
        color:#696665 !important;
        display: block;
        width: 100% !important;
    }
}