.cert-tabs {
    .card-body { padding: 0.75rem; }
    .cert-tabs__header { padding: 0.25rem 0.25rem 0.6rem 0.25rem; }
    .cert-tabs__body { padding-top: 0.25rem; }
    .btn-group .btn { min-width: 160px; }
  }
  